# physical infra
physical_nodes:
  hosts:
    orangepi5-plus:
      ansible_host: localhost
      ansible_connection: local
      node_type: primary
      specs:
        cpu_cores: 8
        ram_gb: 16
        storage_tb: 1
        arch: arm64

# service groups
compute_nodes:
  hosts:
    orangepi5-plus:
      compute_roles:
        - benchmarks
        - development

storage_nodes:
  hosts:
    orangepi5-plus:
      storage_roles:
        - music

network_nodes:
  hosts:
    orangepi5-plus: 
     network_roles:
      - vpn

# container groups
music_containers:
  hosts:
    moose:
      ansible_connection: lxd
      container_name: moose
      service_type: music

benchmark_containers:
  hosts:
    bench:
      ansible_connection: lxd
      container_name: bench
      service_type: benchmark

dev_containers:
  hosts:
    dent:
      ansible_connection: lxd
      container_name: dent
      service_type: development

monitoring_containers:
  hosts:
    grafana:
      ansible_connection: lxd
      container_name: grafana
      service_type: monitoring
    prometheus:
      ansible_connection: lxd
      container_name: prometheus
      service_type: monitoring

# groupings
all_containers:
  children:
    music_containers:
    benchmark_containers:
    dev_containers:
    monitoring_containers:

all_nodes:
  children:
    physical_nodes:

compute_infra:
  children:
    compute_nodes:
    benchmark_containers:

storage_infra:
  children:
    storage_nodes:
    music_containers:

network_infra:
  children:
    network_nodes:

